<!DOCTYPE html>
<html>
    <head>
        <link
        rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous"
        >
        <meta charset="UTF-8">


        <title>Грузы и доставка</title>
        <br>
        <h1> Навигация </h1>
        <a class="col-sm-8" href="{{url_for('showFreeOrders')}}">
        <button>Свободные заказы:</button>
        </a>
        <br><br>

        <a class="col-sm-8" href="{{url_for('showTakenOrders')}}">
        <button>Выполняемые заказы:</button>
        </a>

    </head>
    <body>

        <hr>
        {% block content %}{% endblock %}
    </body>
</html>