<!DOCTYPE html>
{% extends "base.html" %}
<head>

    <title>Free Orders</title>
</head>

{% block content %}
 <h1>Свободные заказы</h1>

 <ul class="list-group">
   {% for order in orders %}
    <li class="list-group-item active"> Айди: </li>
    <li class="list-group-item">  {{order.id}} </li>
    <li class="list-group-item active"> Отправитель: </li>
    <li class="list-group-item">    {{order.forwarder}}</li>
    <li class="list-group-item active"> Описание: </li>
    <li class="list-group-item"> {{order.description}}</li>
    <li class="list-group-item active"> Стоимость(руб): </li>
    <li class="list-group-item"> {{order.summ}}  </li>

   <br><br><br>

  {% endfor %}
 </ul>
{% endblock %}